.aside-menu {
    background-color: #1e1e2d;
    flex: 1;
    .menu-nav {
        margin: 0;
        list-style: none;
        padding: 15px 0;
        .menu-item {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            float: none;
            padding: 0;
            .menu-link {
                .menu-text {
                    color: $white;
                }
            }
        }
        > .menu-item {
            > .menu-link {
                padding: 9px 25px;
                cursor: pointer;
                min-height: 44px;
                display: flex;
                flex-grow: 1;
                align-items: stretch;
                margin: 0;
                text-decoration: none;
                position: relative;
                outline: none;
                &:hover {
                    background-color: #1b1b28;
                    .menu-text {
                        color: $white;
                    }
                    .menu-icon {
                        &.svg-icon {
                            svg g [fill] {
                                transition: fill 0.3s ease;
                                fill: $primary;
                            }
                        }
                    }
                }
                .menu-icon {
                    flex: 0 0 35px;
                    font-size: 1.3rem;
                    color: $primary;
                    &.svg-icon {
                        svg g [fill] {
                            transition: fill 0.3s ease;
                            fill: $gray-svg;
                        }
                    }
                }
                .menu-text {
                    color: #a2a3b7;
                    font-weight: 400;
                    font-size: 1rem;
                    text-transform: none;
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    padding: 0;
                    overflow: hidden;
                }
            }
        }
    }
}
