.btn {
    outline: none !important;
    &:focus {
        box-shadow: none !important;
    }
    &.btn-primary {
        color: $white;
        background-color: $primary;
        border-color: $primary;
    }

    &.btn-sm {
        padding: 0.55rem 0.75rem;
        font-size: 0.925rem;
        line-height: 1.35;
        border-radius: 0.42rem;
    }
}
