.flex-root {
    -webkit-flex: 1 1;
    flex: 1 1;
    -ms-flex: 1 0 0px;
}

.flex-column-fluid {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex-row-fluid {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}

.flex-center {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
