.p-7 {
    padding: 1.75rem !important;
}

.p-10 {
    padding: 2.5rem !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.px-9 {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
}

.py-4 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.py-5 {
    padding-bottom: 1.25rem !important;
    padding-top: 1.25rem !important;
}

.my-3 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}

.h-auto {
    height: auto !important;
}

@media (min-width: 992px) {
    .p-lg-10 {
        padding: 2.5rem !important;
    }

    .mb-lg-20,
    .my-lg-20 {
        margin-bottom: 5rem !important;
    }
}
